ion-header {
    background-color: #f8f9fa;
  }
  
  ion-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  ion-content {
    --background: #323131;
  }
  
  ion-button {
    margin-top: 10px;
  }
  
  