rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow everyone (authenticated or not) to read and write everything
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
