<ion-header>
  <ion-toolbar>
    <ion-title>Třídní seznam</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header-row">
      <ion-col class="head-email">Email</ion-col>
      <ion-col>Zaplaceno</ion-col>
      <ion-col>Dluh</ion-col>
    </ion-row>

    <ion-row *ngFor="let user of users" (click)="openUserActionModal(user)">
      <ion-col class="email">{{ user.email }}</ion-col>
      <ion-col
        class="small-text"
        [style.background-color]="user.paid ? '#006600' : '#790000'"
      >
        {{ user.paid ? 'Ano' : 'Ne' }}
      </ion-col>
      <ion-col
        class="small-text"
        [style.background-color]="user.owe ? '#790000' : 'inherit'"
      >
        {{ user.owe ? 'Ano' : 'Ne' }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
