<!-- src/app/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Přihlášení pomocí Microsoft účtu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="user$ | async as user; else loggedOut">
    <p>Vitejte, {{ user.displayName }}</p>
    <ion-button expand="full" (click)="logout()">dfsfd</ion-button>
  </ng-container>
  <ng-template #loggedOut>
    <ion-button expand="full" (click)="login()">přihlásit se pomocí Microsoft účtu</ion-button>
  </ng-template>
</ion-content>
