<ion-header>
  <ion-toolbar>
    <ion-title>Upozornění - {{ userClass }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let widget of widgets">
    <ion-card-header>
      <ion-card-title>{{ widget.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ widget.description }}</p>
      <p>Cena: {{ widget.price }} Kč</p>
      <p>Zaplaceno: {{ widget.paid }}</p>
      <p>Dluh: {{ widget.owe }}</p>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="widgets.length === 0">
    <p>No widgets available for this class.</p>
  </ion-item>
</ion-content>
